<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/signupstyles.css">
</head>

<form action="/signup-client" method="post" th:action="@{/signup-client}" th:object="${signupForm}">
    <h1>Sign Up Your Account and Pet</h1>
    <fieldset>
        <legend><span class="number">1</span> Pet Owner Info</legend>
        <label for="owner_name">Username:</label>
        <input type="text" id="owner_name" name="username" required>
        <label for="owner_email">Email:</label>
        <input type="email" id="owner_email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <!-- Add a dropdown for user role selection -->
        <label for="role">Select Your Role:</label>
        <select id="role" name="role" required>
            <option value="CLIENT">Client</option>
            <option value="RECEPTIONIST">Receptionist</option>
        </select>
    </fieldset>
    <fieldset>
        <legend><span class="number">2</span> Pet Info (Optional for Receptionists)</legend>
        <label for="pet_name">Pet Name:</label>
        <input type="text" id="pet_name" name="petName">
        <label for="pet_type">Pet Type:</label>
        <select id="pet_type" name="petType">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="bird">Bird</option>
            <option value="reptile">Reptile</option>
            <option value="other">Other</option>
        </select>
        <label for="pet_age">Pet Age (Max 20 years):</label>
        <input type="number" id="pet_age" name="petAge" min="0" max="20">
        <label for="pet_bio">Pet Bio:</label>
        <textarea id="pet_bio" name="petBio" placeholder="Tell us about your pet"></textarea>
    </fieldset>
    <button type="submit">Sign Up</button>
</form>
